$smalldown: "only screen and (max-width: 480px)";
$smallup: "only screen and (min-width: 481px)";

$mediumdown: "screen and (max-width: 768px)";
$mediumup: "screen and (min-width: 769px)";

$largedown: "screen and (max-width: 959px)";
$largeup: "screen and (min-width: 960px)";

$xlargedown: "screen and (max-width: 1290px)";
$xlargeup: "screen and (min-width: 1291px)";

$xxlargedown: "screen and (max-width: 1500px)";
$xxlargeup: "screen and (min-width: 1501px)";

*{
  box-sizing: border-box;
  transition: 0.1s all ease;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h4{
  margin: 0;
}
p{
  color: #aaaaaa;
}
a{
  text-decoration: none;
}
.main-body{
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  position: relative;
}
.transbg{
  @media #{ $largedown }{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: #a55497;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    &.open{
      pointer-events: all;
      opacity: 0.2;
    }
  }
}
.side-nav{
  min-width: 253px;
  height: 100vh;
  overflow-y: auto;
  background-color: #990c81;
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  @media #{ $largedown }{
    // display: none;
    transform: translateX(-100%);
    position: fixed;
    bottom: 0;
    &.open{
      transform: translateX(0);
    }
  }
  &_logo-container{
    max-width: 60px;
    margin: 0 auto 10px;

  }
  &-logo{
    max-width: 60px;
  }
  &_list-wrapper{
    width: 100%;
    border-top: 1px solid #a55497;
    padding-top: 26px;
    flex: 1;
    ul li {
      margin-bottom: 20px;
      a{
        display: flex;
        align-items: center;
        padding: 8px;
        color: #fff;
        font-size: 18px;
        border-radius: 4px;
        &.active{
          border-right: 3px solid #fff;
          background-color: #a3258e;
        }
        &:hover{
          background-color: #a3258e;
        }
        span{
          margin-left: 8px;
          font-size: 14px;
        }
      }
    }
  }
  &_bottom{
    background-color: #a3258e;
    padding: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    &-img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 12px;
      background-color: #ddd;
    }
    p{
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 0;
    }
    span{
      font-size: 10px;
      margin: 0;
    }
  }
}
.content-body{
  flex-grow: 1;
}
.header-nav{
  background-color: #ffffff;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  // @media #{ $mediumdown }{
  //   justify-content: flex-start;
  // }
  &_right{
    display: flex;
    & > div{
      margin-right: 20px;
      @media #{ $smalldown }{
        margin-right: 4px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  h2{
    font-size: 20px;
    font-weight: bold;
    flex: 1;
  }
  &_title-mobile{
    display: none;
    @media #{ $smalldown }{
      display: block;
      padding:20px 20px 0;
      font-size: 20px;
      margin: 0;
    }
  }
  &_title-desktop{
    display: block;
    @media #{ $smalldown }{
      display: none;
    }
  }
  &_menu{
    display: none;
    @media #{ $largedown }{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
    }
  }
}

.search-input{
  position: relative;
  @media #{ $mediumdown }{
    display: none;
  }
  .icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #d6d7e3;
  }
  input{
    border: none;
    background-color: #fafafa;
    min-height: 40px;
    width: 300px;
    border-radius: 8px;
    padding-left: 40px;
    color: #333;
    &::placeholder{
      color: #d6d7e3;
    }
    &:focus{
      outline-color: #990c81;
    }
  }
}

.round-button{
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6d7e3;
  cursor: pointer;
  &:hover{
    background-color: #ffe2fa;
    color: #990c81;
  }
}

.profile-img{
  @extend .round-button;
  img{
    width: 50%;
    height: 50%;
  }
}

.lang-dropdwn{
  display: inline-flex;
  align-items: center;
  color: #767676;
  font-size: 14px;
  color: lighten($color: #000000, $amount: 0);
  span{
    margin-right: 4px;
  }
}

.main-content{
  padding: 40px 20px;
  display: grid;
  grid-gap: 30px;
  @media #{ $smalldown }{
    padding: 20px 20px;
  }
}

.card-grid{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}
.card-grid2{
  display: grid;
  grid-gap: 20px;
  // @media #{ $largedown }{
  //   grid-row: 1;
  // }
  @media #{ $largeup }{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}


.card{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px 2px;
}

.report-card{
  @extend .card;
  display: flex;
  padding: 14px;
  .text-holder{
    flex: 1;
    margin-left: 10px;
    padding-top: 4px;
    h2{
        font-size: 20px;
        margin-bottom: 4px;
    }
    p{
        font-size: 14px;
    }
  }
  .status{
    padding-top: 15px;
    display: flex;
    p{
        font-size: 12px;
    }
  }
  &-icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-flex ;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

.statistic-card{
  @extend .card;
  padding: 20px;
  // grid-column: 1 / 4;
  @media #{ $largeup }{
    grid-column: 1 / 4;
  }
  .card-head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &-number{
      margin-left: 16px;
      color: #333;
      font-weight: 500;
      margin-top: 8px;
    }
    &-first{
      flex: 1;
      h3{
        margin-bottom: 4px;
      }
      p{
        font-size: 14px;
      }
    }
    &-second{
      margin-right: 20px;
    }
  }
  &_graph img{
    width: 100%
  }
}

.chart-card{
  @extend .card;
  padding: 20px;
  background-color: #990c81;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img{
    max-height: 320px;
    object-fit: contain;
  }
  p{
    color: #fff;
    font-size: 12px;
    margin-top: 8px;
  }
}
.request-card{
  @extend .statistic-card;
  padding: 20px 0 0;
  overflow-x: auto;
  h3{
    padding: 0 20px 10px;
  }
}

.table{
  width: 100%;
  color: #8292ab;
  border-collapse: collapse;
  thead{
    text-align: left;
  }
  tbody tr{
    &:hover{
      background-color: #f9f9f9;
    }
    &:last-child td{
      border-bottom: none;
    }
  }
  th{
    font-size: 14px;
  }
  td, th{
    padding: 16px 20px;
    font-size: 14px;
  }
  td{
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    h4{
      font-size: 16px;
      color: #333;
      font-weight: 500;
    }
  }
  &-content{
    display: flex;
    align-items: center;
  }
  &-img{
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-right: 16px;
  }
  &-arrow{
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background: #ecf5fd;
    color: #cc86c0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    &:hover{
      background: #990c81;
      color: #fff;
    }
  }
}